{% extends 'base.html' %}

{% load static %}

{% block script %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'landing_css/styling.css' %}" />
{% endblock %}
{% block title %} Now What | Home{% endblock title %}

{% block content %}
<div style="background-image: url(../static/landing_images/topbg1.png); background-size: cover; background-repeat: no-repeat; background-position: center;" class="topsect bgimg">
    <div class="titlecont">
        <div class="subs">So we're quarantined...</div>
        <div class="maintitle">NoWhat?</div> 
    </div> 
</div>
<div class="cardscontainer">
<div class="heading">FIND WHAT INTERESTS YOU</div>
<div class="row justify-content-md-center"> 
    <div class="col-sm-4 marpads">   
        <div class="card">
            <img class="card-img-top cornered" src="{% static 'landing_images/movieslogo.png' %}">
            <div class="card-body judul">
                <a href="/movies" style="text-decoration:none;color:#fff;">Movies</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 marpads">   
        <div class="card">
            <img class="card-img-top cornered" src="{% static 'landing_images/musiclogo.png' %}">
            <div class="card-body judul">
                <a href="/music" style="text-decoration:none;color:#fff;">Music</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 marpads">   
        <div class="card">
            <img class="card-img-top cornered" src="{% static 'landing_images/eventslogo.png' %}">
            <div class="card-body judul">
                <a href="/events" style="text-decoration:none;color:#fff;">Events</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 marpads">   
        <div class="card">
            <img class="card-img-top cornered" src="{% static 'landing_images/healthlogo.png' %}">
            <div class="card-body judul">
                <a href="/health" style="text-decoration:none;color:#fff;">Health</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 marpads">   
        <div class="card">
            <img class="card-img-top cornered" src="{% static 'landing_images/activitieslogo.png' %}">
            <div class="card-body judul">
                <a href="/activities" style="text-decoration:none;color:#fff;">Activities</a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}