{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ajah_css/filecss.css' %}" />
{% endblock %}

{% block title %} 
Now What | Movies
{% endblock title %}

{% block content %}
<div class="judul">REVIEW A MOVIE FOR US</div>
<div class="formmovie">
<form method="POST">
    {% csrf_token %}
    <div>
        <p>Movie name:<br>
        {{movies_form.movie_name}}</p>
    </div>
    <div>
        <p>Rating the Movie:<br>
        {{movies_form.rating}}</p>
    </div>
    <div>
        <p>Your Review:<br>
        {{movies_form.review}}</p>
    </div>
</div>
    <center><button class="btn classwarna" type="submit">Share</button></center>
</form>
{% endblock %}