{% extends 'base.html' %}{% load static %}

{% block title %} Now What | Movies {% endblock title %}

{% block script %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ajah_css/filecss.css' %}" />
{% endblock %}

{% block content %}
<div class="judul">Review From You</div>
<div class="tabel">
    <table style="font-family: 'Manuale', serif;" class="table">
        <thead>
            <tr>
                <th scope="col">Movie Name</th>
                <th scope="col">Rating the Movie</th>
                <th scope="col">Your Review</th>
            </tr>
        </thead>
        <tbody>
            {%for movie in movies %}
            <tr>
                <td>{{movie.movie_name}}</a></td>                
                <td>{{movie.rating}}</td>
                <td>{{movie.review}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <button class="classwarna" type="button"><a href="/movies/" style = "text-decoration: none; color: #fff ;">Back to Movies</a></button>
    <!-- <a class="classwarna" href="/movies/" type="button">Back to Movies</a> -->


</div>
{% endblock%}