{% extends 'base.html' %}{% load static %}

{% block script %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ajah_css/filecss.css' %}" />
{% endblock %}

{% block title %} Now What | Movies {% endblock title %}

{% block content %}
<div class="halaman">
  <div class="bagian">
    <div class="bagiankiri">
      <img src="{% static 'ajah_images/Rectangle 2 (1).png'%}">
    </div>
    <div class="bagiankanan">
      <div class="judulutama">MOVIES</div>
      <p>
        Menjalani hari dalam kondisi pandemi ini memang menguras tenaga. 
        Terlebih lagi kita tidak memiliki kesempatan untuk melepaskan penat 
        setelah menjalani kesibukan karena pemberlakukan PSBB. Tapi jangan 
        khawatir, kita bisa melepaskan penat sejenak dengan menonton beberapa
        rekomendasi film yang sudah dipilih yang akan menemani kita selama stay at home.  
      </p>
    </div>
  </div>
</div>

<div class="halaman">
  <div class="judul">RECOMMENDATION</div>
  <div class="recommendation">
    <div class="reckiri">
      <div class="card">
        <img class="card-img-top" src="{% static 'ajah_images/Group 40.png'%}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">La La Land</h5>
          <a href="https://www.youtube.com/watch?v=0pdqf4P9MB8&ab_channel=LionsgateMovies">
            <img src="{% static 'ajah_images/youtube 1.png'%}" alt="Forest">
          </a>
          <a href="https://www.rogerebert.com/reviews/la-la-land-2016">
            <img src="{% static 'ajah_images/like 1.png'%}" alt="Forest">
          </a>
        </div>
    </div>
  </div>

  <div class="rectengah">
      <div class="card">
        <img class="card-img-top" src="{% static 'ajah_images/Group 41.png'%}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">The Way I See It</h5>
          <a href="https://www.youtube.com/watch?v=7L4ktHbelhc&ab_channel=FocusFeatures">
            <img src="{% static 'ajah_images/youtube 1.png'%}" alt="Forest">
          </a>
          <a href="https://www.rogerebert.com/reviews/the-way-i-see-it-movie-review-2020">
            <img src="{% static 'ajah_images/like 1.png'%}" alt="Forest">
          </a>
        </div>
      </div>
  </div>

  <div class="reckanan">
    <div class="card">
      <img class="card-img-top" src="{% static 'ajah_images/Group 42.png'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Enola Holmes</h5>
        <a href="https://www.youtube.com/watch?v=7L4ktHbelhc&ab_channel=FocusFeatures">
          <img src="{% static 'ajah_images/youtube 1.png'%}" alt="Forest">
        </a>
        <a href="https://www.rogerebert.com/reviews/enola-holmes-movie-review-2020">
          <img src="{% static 'ajah_images/like 1.png'%}" alt="Forest">
        </a>
      </div>
    </div>
  </div>
</div>





<!-- <div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem; background-color:#0A5687">
     <img class="card-img-top" src="{% static 'ajah_images/Group 40.png'%}" alt="Card image cap">
     <div class="card-body">
      <h5 class="card-title" style="text-align: center;">La La Land</h5>
      <a href="https://www.youtube.com/watch?v=0pdqf4P9MB8&ab_channel=LionsgateMovies">
        <img src="{% static 'ajah_images/youtube 1.png'%}" alt="Forest" style="width:40%; padding-left: 1vw;">
      </a>
      <a href="https://www.rogerebert.com/reviews/la-la-land-2016">
        <img src="{% static 'ajah_images/like 1.png'%}" alt="Forest" style="width:40%;padding-left: 1vw;">
      </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem; background-color:#0A5687">
     <img class="card-img-top" src="{% static 'ajah_images/Group 41.png'%}" alt="Card image cap">
     <div class="card-body">
      <h5 class="card-title" style="text-align: center;">The Way I See It</h5>
      <a href="https://www.youtube.com/watch?v=7L4ktHbelhc&ab_channel=FocusFeatures">
        <img src="{% static 'ajah_images/youtube 1.png'%}" alt="Forest" style="width:40%; padding-left: 1vw;">
      </a>
      <a href="https://www.rogerebert.com/reviews/the-way-i-see-it-movie-review-2020">
        <img src="{% static 'ajah_images/like 1.png'%}" alt="Forest" style="width:40%;padding-left: 1vw;">
      </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem; background-color:#0A5687">
     <img class="card-img-top" src="{% static 'ajah_images/Group 42.png'%}" alt="Card image cap">
     <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Enola Holmes</h5>
      <a href="https://www.youtube.com/watch?v=7L4ktHbelhc&ab_channel=FocusFeatures">
        <img src="{% static 'ajah_images/youtube 1.png'%}" alt="Forest" style="width:40%; padding-left: 1vw;">
      </a>
      <a href="https://www.rogerebert.com/reviews/enola-holmes-movie-review-2020">
        <img src="{% static 'ajah_images/like 1.png'%}" alt="Forest" style="width:40%;padding-left: 1vw;">
      </a>
      </div>
    </div>
  </div>
</div> -->
</div>

<div class="review">
    <div class="judul">MOVIE REVIEWS</div>
    <!-- <div class="container-fluid"> -->
    <div class="row">
      <div class="col-md-4">
        <a href="https://www.rogerebert.com/reviews/gone-girl-2014">
          <img src="{% static 'ajah_images/gonegirl.jpg'%}" alt="Forest" style="width:48%;display: block; margin: 0 auto;">
          <!-- <figcaption class="figure-caption">Gone Girl</figcaption> -->
        </a>
        <a href="https://www.rogerebert.com/reviews/gone-girl-2014">
          <figcaption class="figure-caption">Gone Girl</figcaption>
        </a>
      </div>
      <div class="col-md-4">

        <a href="https://www.rogerebert.com/reviews/the-intern-2015">
          <img src="{% static 'ajah_images/theintern.jpg'%}" alt="Forest" style="width:50%;display: block; margin: 0 auto;">
          <!-- <figcaption class="figure-caption">The Intern</figcaption> -->
        </a>
        <a href="https://www.rogerebert.com/reviews/gone-girl-2014">
          <figcaption class="figure-caption">The Intern</figcaption>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <a href="https://www.rogerebert.com/reviews/the-upside-2019">
          <img src="{% static 'ajah_images/theupside.jpg'%}" alt="Forest" style="width:48%;display: block; margin: 0 auto;">
          <!-- <figcaption class="figure-caption">The Upside</figcaption> -->
        </a>
        <a href="https://www.rogerebert.com/reviews/gone-girl-2014">
          <figcaption class="figure-caption">The Upside</figcaption>
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://www.rogerebert.com/reviews/the-social-dilemma-movie-review-2020">
          <img src="{% static 'ajah_images/widget_social-dilemma-poster.jpg'%}" alt="Forest" style="width:50%;display: block; margin: 0 auto;">
          <!-- <figcaption class="figure-caption" style="padding-left: 1vw;">The Social Dilemma</figcaption> -->
        </a>
        <a href="https://www.rogerebert.com/reviews/gone-girl-2014">
          <figcaption class="figure-caption" style="padding-left: 2vw;">The Social Dilemma</figcaption>
        </a>
      </div>
    </div>
    
    <!-- </div> -->




    <!-- <div class="row">
        <div class="column">
          <a href="https://www.rogerebert.com/reviews/gone-girl-2014">
            <img src="{% static 'ajah_images/gonegirl.jpg'%}" alt="Forest" style="width:50%">
            <figcaption class="figure-caption">Gone Girl</figcaption>
          </a>
        </div>
        <div class="column">
          <a href="https://www.rogerebert.com/reviews/the-intern-2015">

            <img src="{% static 'ajah_images/theintern.jpg'%}" alt="Forest" style="width:50%">
            <figcaption class="figure-caption">The Intern</figcaption>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <a href="https://www.rogerebert.com/reviews/the-upside-2019">

            <img src="{% static 'ajah_images/theupside.jpg'%}" alt="Forest" style="width:50%">
            <figcaption class="figure-caption">The Upside</figcaption>
          </a>

        </div>
        <div class="column">
          <a href="https://www.rogerebert.com/reviews/the-social-dilemma-movie-review-2020">
            <img src="{% static 'ajah_images/widget_social-dilemma-poster.jpg'%}" alt="Forest" style="width:50%">
            <figcaption class="figure-caption">The Social Dilemma</figcaption>
          </a>
        </div>
      </div> -->
</div>



<div class="judul">FIND OUT MORE ON</div>
<div class="row">
  <div class="col-md-2">
    <a href="https://www.rogerebert.com/reviews">
      <img src="{% static 'ajah_images/like 1.png'%}" alt="rogerebert">
    </a>
  </div>
  <div class="col-md-2">
    <a href="https://www.netflix.com/browse">
      <img src="{% static 'ajah_images/netflix 1.png'%}" alt="netflix">
    </a>
  </div>
  <div class="col-md-2">
    <a href="https://www.youtube.com/">
      <img src="{% static 'ajah_images/youtube 1.png'%}" alt="youtube">
    </a>
  </div>
</div>




<!-- <table>
  <tr>                                    
      <td>
          <a href="https://www.rogerebert.com/reviews">
            <img src="{% static 'ajah_images/like 1.png'%}" alt="Forest" style="width:50%">
          </a>
      </td>
      <td>
          <a href="https://www.netflix.com/browse">
            <img src="{% static 'ajah_images/netflix 1.png'%}" alt="Forest" style="width:50%">
          </a>
      </td>
      <td>
          <a href="https://www.youtube.com/">
            <img src="{% static 'ajah_images/youtube 1.png'%}" alt="Forest" style="width:50%">
          </a>
      </td>
  </tr>
</table> -->

<center><button class="tombolreview" type="button"><a href="/movies/forms/" style = "text-decoration: none; color: #fff ;">YOUR REVIEW</a></button></center>

{% endblock %}