body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#home {
  font-weight: 700;
}

.nav-container {
  display: flex;
  align-items: center;
  background: #0a5687;
  height: 9.375rem;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content a {
  font-size: 1.25rem !important;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  font-weight: 700;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0a5687;
  width: 8rem;
  padding-top: 1.5rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 1;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 8.5rem 0 8.5rem;
}

.now-what-title a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 3.125rem;
}

.nav-menu {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
}

footer {
  background: #0a5687;
  width: 100%;
}

.foot-cont {
  margin: 0 6.25rem 0 6.25rem;
}

.about-nowhat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 0 8rem 0;
  max-width: 62.5rem;
}

.cont {
  margin: 0 6.5rem 0 6.5rem;
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  margin-right: 4.5rem;
}

.about-title {
  font-size: 3.125rem;
  font-weight: 700;
  text-align: right;
}

.logo {
  width: 24.5rem;
}

.description {
  font-size: 1.25rem;
  line-height: 1.8rem;
  text-align: right;
  margin: 0;
  font-weight: 400;
  max-width: 35rem;
}

.small-logo {
  width: 6.25rem;
}

.text {
  color: white;
  font-size: 1.25rem;
}

.copyrights {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: #ffffff 0.45rem solid;
  padding-bottom: 6.25rem;
  padding-top: 1rem;
}

.burgerButton {
  width: 4rem;
  display: none;
}

@media (max-width: 1221px) {
  .now-what-title a {
    font-size: 2.5rem;
  }

  .nav-menu a {
    font-size: 1.3rem;
  }

  .navbar {
    margin: 0 4rem 0 4rem;
  }

  .about-nowhat {
    flex-direction: column;
  }

  .logo {
    margin-top: 4rem;
  }

  .about {
    margin-right: 0;
    align-items: center;
  }

  .description {
    text-align: center;
  }

  .cont {
    margin: 0 2.5rem 0 2.5rem;
  }
}

@media (max-width: 720px) {
  .burgerButton {
    width: 2.3125rem;
    display: block;
  }

  .navbar {
    margin: 0 2rem 0 2rem;
    align-items: center;
  }

  .nav-menu {
    display: none;
  }

  .now-what-title a {
    font-size: 1.75rem;
  }

  .nav-container {
    height: 6.5rem;
  }

  .about-title {
    font-size: 1.75rem;
  }

  .about-nowhat {
    padding: 4rem 0 4rem 0;
  }

  .description {
    font-size: 0.9rem;
  }

  .logo {
    width: 14rem;
    margin-top: 2rem;
  }

  .text {
    font-size: 0.75rem;
  }

  .foot-cont {
    margin: 0 2rem 0 2rem;
  }

  .small-logo {
    width: 4.5rem;
  }

  .copyrights {
    padding-top: 0;
  }
}

@media (max-width: 550px) {
  .text {
    width: 5rem;
  }

  .right {
    text-align: right;
  }

  .cont {
    margin: 0;
  }
}
