#movies,
#movies2,
#browse {
  font-weight: 700;
}

#home,
#about,
#music,
#events,
#health,
#activites {
  font-weight: 300;
}

.judul {
  text-align: center;
  color: #0a5687;
  font-size: 4vh;
  font-weight: 610;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.formmovie {
  text-align: center;
}

.formmovie p {
  color: #0a5687;
  font-size: 2vh;
  font-weight: 600;
}

.halaman {
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100%;
}

.recommendation {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.reckiri {
  flex: 1;
  display: block;
  margin: 0 auto;
}

.rectengah {
  flex: 1;
  display: block;
  margin: 0 auto;
}

.reckanan {
  flex: 1;
  display: block;
  margin: 0 auto;
}

.card {
  margin-left: 5vw;
  margin-bottom: 5vh;
  width: 18rem;
  background-color: #0a5687;
}
.card-title {
  color: #fff;
  width: 15vw;
  height: 8vh;
  font-size: 3vh;
  font-weight: 610;
}

.card-body img {
  width: 40%;
  padding-left: 1vw;
}

.classwarna {
  background-color: #f2954e;
  color: #fff;
  width: 9vw;
  height: 6vh;
  font-size: 2vh;
  text-align: center;
  font-weight: 610;
  /* margin-left: 20%; */
  margin-bottom: 3vh;
  border-radius: 10%;
}
.input-width {
  width: 10vw;
  height: 10vh;
}
.tabel {
  text-align: center;
  margin: center;
}
.tombolreview {
  background-color: #0a5687;
  color: #fff;
  width: 15vw;
  height: 8vh;
  font-size: 3vh;
  text-align: center;
  font-weight: 610;
  outline: none;
  border: none;
  border-radius: 15%;
  margin-bottom: 5vh;
}

.review {
  background-color: #fad161;
  max-width: 100vw;
  min-height: 110vh;
  max-height: 20%;
}

/* .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    text-align: center;
    padding-top: 10v;
    padding-bottom: 10vh;
} */

/* .figure {
    display: table;
    width: 10px; 
} */

.figure-caption {
  color: black;
  font-size: 3vh;
  font-weight: 610;
  margin-bottom: 5vh;
  text-align: center;
}

.column img {
  width: 5vw;
  height: 45vh;
  margin: center;
}
.col-md-4 {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
}

.col-md-4 img {
  width: 20vw;
}

.col-md-2 img {
  height: 15vh;
  margin-left: 28vw;
  margin-right: 25vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
  width: 50%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  padding-top: 10v;
}
.bagian {
  display: flex;
  flex-direction: row;
}

.bagiankiri {
  flex: 1;
  justify-content: right;
}

.bagiankiri img {
  width: 70vh;
  float: right;
  padding-top: 140px;
  padding-right: 5vw;
}

.bagiankanan {
  flex: 1;
  padding-top: 215px;
  padding-bottom: 215px;
}

.judulutama {
  text-transform: uppercase;
  font-size: 40px;
  color: #0a5687;
  font-weight: 610;
}

.bagiankanan p {
  text-align: justify;
  font-size: 15px;
  color: black;
  width: 30vw;
  margin-bottom: 7vh;
}

@media (max-width: 1030px) {
  .card {
    margin-left: 0vw;
  }
  .card-title {
    width: 25vw;
    text-align: center;
  }

  .card-body img {
    width: 40%;
    padding-left: 2.5vw;
  }
  .bagiankiri img {
    width: 60vh;
    padding-top: 180px;
  }
}

@media (max-width: 870px) {
  .recommendation {
    flex-direction: column;
  }
  .card-title {
    width: 30vw;
    height: 8vh;
  }
  .bagiankiri img {
    width: 50vh;
    padding-top: 250px;
  }
  .col-md-4 img {
    width: 15vw;
  }
  .col-md-2 img {
    width: 60%;
  }
  .classwarna {
    height: 8vh;
    font-size: 2vh;
    width: 13vw;
  }
}

@media (max-width: 765px) {
  .card-title {
    width: 35vw;
  }
  .bagian {
    display: flex;
    flex-direction: column;
  }
  .bagiankiri {
    flex: 1;
    justify-content: right;
    margin-left: auto;
    margin-right: auto;
  }

  .bagiankiri img {
    width: 40vh;
    padding-right: 0vw;
  }

  .bagiankanan {
    flex: 1;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 215px;
  }

  .bagiankanan p {
    width: 55vw;
    margin-bottom: 4vh;
  }

  .col-md-2 img {
    width: 10%;
    height: 10vh;
    margin-left: 45vw;
  }
  .classwarna {
    height: 8vh;
    font-size: 2vh;
    width: 13vw;
  }
}

@media (max-width: 600px) {
  .card-title {
    width: 40vw;
  }

  .bagiankiri img {
    width: 35vh;
    padding-top: 270px;
    padding-right: 2vw;
  }

  .bagiankanan p {
    width: 60vw;
    font-size: 14px;
    margin-bottom: 4vh;
  }

  .tombolreview {
    font-size: 2.5vh;
  }
  .classwarna {
    height: 8vh;
    font-size: 1.5vh;
  }
}
