{% extends 'base.html' %}

{% load static %}

{% block script %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'aaya_css/style.css' %}" />
{% endblock %}

{% block title %}
NoWhat? | Events
{% endblock title %}

{% block content %}
<div class="section topping">
    <div class="toppingleft">
        <img src="{% static 'aaya_img/events.png' %}">
    </div>
    <div class="toppingright">
        <div class="headertop">EVENTS</div>
        <p>
            Sebelum pandemi, ada banyak sekali acara yang seharusnya bisa kita hadiri. 
            Dikarenakan kondisi pandemi, acara-acara tersebut akhirnya harus digagalkan. 
            Akan tetapi, masih ada banyak acara yang masih bisa kita hadiri. 
            Meskipun diselenggarakan secara virtual, acara-acara ini dapat membantu 
            menghilangkan kejenuhan kita selama dirumah.
        </p>
    </div>
</div>
<div class="section schedule">
    <div class="content">
    <div class="headersched">TIMELINE</div>
    <div class="texts">
        <table>
            <tbody>
                <!-- start satu schedule -->
                <tr>
                    <td class="tanggal">
                        <div class="tanggalcolor">
                            <b>Sept 26th - 27th</b>
                        </div>
                    </td>
                    <td class="acara">
                        <b>WeTheFest,</b> Concert
                    </td>
                    <td class="status">
                        <closed><b>CLOSED</b></closed>
                    </td>
                </tr>
                <!-- end satu schedule -->
                <!-- start satu schedule -->
                <tr>
                    <td class="tanggal">
                        <div class="tanggalcolor">
                            <b>Oct 3rd - 4th</b>
                        </div>
                    </td>
                    <td class="acara">
                        <b>COMPFEST Talks,</b> Seminar
                    </td>
                    <td class="status">
                        <closed><b>CLOSED</b></closed>
                    </td>
                </tr>
                <!-- end satu schedule -->
                <!-- start satu schedule -->
                <tr>
                    <td class="tanggal">
                        <div class="tanggalcolor">
                            <b>Nov 28th - 29th</b>
                        </div>
                    </td>
                    <td class="acara">
                        <b>BKUI20 Saintek,</b> Bedah Kampus
                    </td>
                    <td class="status">
                        <open><b>OPEN</b></open>
                    </td>
                </tr>
                <!-- end satu schedule -->
                <!-- start satu schedule -->
                <tr>
                    <td class="tanggal">
                        <div class="tanggalcolor">
                            <b>Dec 5th - 6th</b>
                        </div>
                    </td>
                    <td class="acara">
                        <b>BKUI Soshum,</b> Bedah Kampus
                    </td>
                    <td class="status">
                        <open><b>OPEN</b></open>
                    </td>
                </tr>
                <!-- end satu schedule -->
                <!-- start satu schedule -->
                <tr>
                    <td class="tanggal">
                        <div class="tanggalcolor">
                            <b>TBA</b>
                        </div>
                    </td>
                    <td class="acara">
                        <b>COMING</b> SOON
                    </td>
                    <td class="status">
                        <pending><b>SOON</b></pending>
                    </td>
                </tr>
                <!-- end satu schedule -->
                <!-- start satu schedule -->
                <tr>
                    <td class="tanggal">
                        <div class="tanggalcolor">
                            <b>TBA</b>
                        </div>
                    </td>
                    <td class="acara">
                        <b>COMING</b> SOON
                    </td>
                    <td class="status">
                        <pending><b>SOON</b></pending>
                    </td>
                </tr>
                <!-- end satu schedule -->
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="section linky">
    <div class="linkyheader"><center>MORE ABOUT THE EVENTS</center></div>
    <div class="linkss">
        <center>
        <button class="btn linkingyellow"><a href="#wtf" style="text-decoration:none;color:#0a5687;">We The Fest</a></button>
        <button class="btn linkingorange"><a href="#compfest" style="text-decoration:none;color:#0a5687;">COMPFEST Talks</a></button>
        <button class="btn linkingyellow"><a href="#bkui" style="text-decoration:none;color:#0a5687;">BKUI20</a></button>
        </center>
    </div>
</div>
<div class="section" id="wtf">
    <div class="caption">
        <h1><b>WE THE FEST 2020</b></h1>
        <p>
            We The Fest adalah acara festival tahunan 
            yang berisi konser musik, pameran seni, 
            bazaar makanan serta pameran fashion 
            yang diselenggarakan di Jakarta.
        </p>
        <button class="btn attend"><a href="http://wethefest.com/" style="text-decoration:none; color:#fff;">Attend This Event</a></button>
        <div class="socmed">
            <a href="http://twitter.com/WeTheFest"><img src="{% static 'aaya_img/Twitter.png' %}"></a>
            <a href="http://instagram.com/we.the.fest"><img src="{% static 'aaya_img/Instagram.png' %}"></a>
            <a href="http://wethefest.com/"><img src="{% static 'aaya_img/Website.png' %}"></a>
        </div>
    </div>
    <div class="wtf-img">
        <img src="{% static 'aaya_img/wtf.png' %}">
    </div>
</div>
<div class="section" id="compfest">
    <div class="compfest-img">
        <img src="{% static 'aaya_img/compfest.png' %}">
    </div>
        <div class="compfestcapt">
            <h1><b>COMPFEST Talks.</b></h1>
            <p>
                COMPFEST Talks adalah acara talkshow virtual yang 
                berfokus pada topik-topik terkait teknologi. 
                Tahun ini COMPFEST Talks hadir dengan tema
                “Empowering Society through Technological Innovation”
            </p>
            <button class="btn attend_right"><a href="http://compfest.id/" style="text-decoration:none; color:#fff;">Attend This Event</a></button>
            <div class="socmedr">
                <a href="http://twitter.com/compfest"><img src="{% static 'aaya_img/Twitter.png' %}"></a>
                <a href="http://instagram.com/compfest"><img src="{% static 'aaya_img/Instagram.png' %}"></a>
                <a href="http://compfest.id/"><img src="{% static 'aaya_img/Website.png' %}"></a>
            </div>
        </div>
</div>
<div class="section" id="bkui">
    <div class="caption">
        <h1><b>BKUI 2020</b></h1>
        <p>
            Bedah Kampus UI (BKUI) merupakan acara tahunan 
            yang diadakan oleh BEM UI. Acara ini diisi pengenalan fakultas, 
            program pendidikan, hingga jurusan yang ada di UI.
        </p>
        <button class="btn attend"><a href="http://bedahkampusui.com/" style="text-decoration:none; color:#fff;">Attend This Event</a></button>
        <div class="socmed">
            <a href="http://twitter.com/bkui_official"><img src="{% static 'aaya_img/Twitter.png' %}"></a>
            <a href="http://instagram.com/bkui.official"><img src="{% static 'aaya_img/Instagram.png' %}"></a>
            <a href="http://bedahkampusui.com/"><img src="{% static 'aaya_img/Website.png' %}"></a>
        </div>
    </div>
    <div class="wtf-img">
        <img src="{% static 'aaya_img/bkui.png' %}">
    </div>
</div>
<div class="registt">
    <button class="btn registerbutton"><a href="/events/preform" style="text-decoration:none; color:#fff;">Register Your Event</a></button>
</div>
{% endblock %}
