{% extends 'base.html' %}{% load static %}
{% block script %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'aaya_css/style.css' %}" />
{% endblock %}

{% block title %} NoWhat? | Events {% endblock title %}

{% block content %}
<div class="header"><center>Registration Complete</center></div>
<div class="subheader">
    Terima kasih sudah mendaftar!<br>
    Salah satu tim kami akan menghubungi anda untuk informasi lebih lanjut.
</div>

<div class="tabletitle">
    Events Waitlist
</div>
    <div class="tables">
    <table>
      <thead>
        <tr>
          <th scope="col">Event Name</th>
          <!-- <th scope="col">Event Date</th> -->
          <!-- <th scope="col">Event Description</th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for event in events %}
        </tr>
        <tr>
          <td><center>{{event.event_name}}</center></td>
          <!-- <td>{{event.event_date}}</td> -->
          <!-- <td>{{event.event_desc}}</td> -->
        </tr>
          {% endfor %}
      </tbody>
    </table>
    </div>
<center><button class="btn btn-warnanya" style="margin-bottom:15vh;"><a href="/events" style="text-decoration:none;color:#fff;"><b>Return</b></a></button></center>
{% endblock %}