{% extends 'base.html' %}{% load static %}
{% block script %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'aaya_css/style.css' %}" />
{% endblock %}

{% block title %} NoWhat? | Events {% endblock title %}

{% block content %}
    <div class="header"><center>Register Your Event</center></div>
    <div class="formevent"><form method="post">
        {% csrf_token %}
        <div>
            <p><b>Event Name:</b><br>
            {{regist.event_name}}</p>
        </div>
        <div>
            <p><b>Event Date:</b><br>DD/MM/YYYY<br>
            {{regist.event_date}}</p>
        </div>
        <div>
            <p><b>Event Description:</b><br>
            {{regist.event_desc}}</p>
        </div>
        <div>
            <p><b>Contact:</b><br>(No. HP/E-mail)<br>
            {{regist.contact}}</p>
        </div>
    </div>
        <br>
    <center><button class="btn btn-warnanya" type="submit" style="margin-bottom:20vh;"><b>Submit</b></button></center>
    </form>
</div>
{% endblock %}