{% extends 'base.html' %}
{% load static %}
    <!-- <!DOCTYPE html> -->
    <!-- <html lang="en-US"> -->
    <!-- <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"> -->
    {% block script %}
      <link    
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
      />
    {% endblock script %}
    {% block css %}
      <link href="{% static 'css/aos.css' %}" rel="stylesheet" />
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
      <link href="{% static 'landing_css/main.css'%}" rel="stylesheet" />
    {% endblock css %}
    {% block title %} Now What | Health {% endblock title %}

    {% block content %}
  <!-- <body id="top"> -->
      <!-- <header>
      <div class="nav-container">
        <div class="navbar">
            <div class="now-what-title">
                <a href ="/">NoWhat?</a>
            </div>
            <div class="nav-menu">
                <a id="home" class="menu" href="#" onclick="home()" >Home</a>
                <a id="about" class="menu" href="#" onclick="about()" >About</a>
                <div class="dropdown">
                <a id="browse" class="menu dropbtn" href="#">Browse
                    <img style="width: 0.75rem;" src="{% static 'images/Vector.png' %}"/>
                </a>
                <div class="dropdown-content">
                    <a class="drop" href="#">Music</a>
                    <a class="drop" href="#">Movies</a>
                    <a class="drop" href="#">Event</a>
                    <a class="drop" href="#">Health</a>
                    <a class="drop" href="#">Activites</a>
                </div>
                </div>
            </div>
            <div class="burgerButton">
                <img class= "burgerButton" src="{% static 'images/burgerButton.png' %}" alt="menu"/>
            </div>
        </div>
      </div>
    </header> -->
    <div class="container">
      <div class="row" style="margin-top: 50px">
        <div class="col-sm-5">
            <div>
                <img src="{% static 'images/Health.png'%}" class="img-responsive" style="width:100%" alt="Image">
            </div>
        </div>
            <div class="col" style="margin-left: 20%;margin-top:150px; ">
                <p style="font-family: poppins; font-size: 40px; color: #0A5687;"><b>HEALTH</b></p>
                <p style="font-family: poppins;">Kesehatan merupakan hal yang sangat berharga, 
                terutama dalam masa pandemi seperti sekarang. 
                Imunitas tubuh merupakan satu-satunya penangkal 
                virus Covid-19 karena memang belum ditemukan obat 
                maupun vaksin untuk mengatasinya. Kesehatan yang 
                dimaksud bukan hanya dalam segi fisik namun juga mental.
                Disini saya akan memberikan cara untuk menjaga kesehatan.</p>
             </div>
        </div>
    </div>

        <div class="section" id="contact"  style="font-family: poppins;">
          <div style="margin-left: 5%;">
          <b style="font-family: poppins; color: #0A5687; font-size: 45px; ">
            How to Maintain <br> My Mental Health</b></div>
            
          
          <div
          class="cc-contact-information"
          style="background-color: #0A5687;"
          >
            <div class="container" >
              <div class="cc-contact" >
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #FAD161;">
                      <div class="d-flex bd-highlight">
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Hobby </div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">Melakukan hobi bisa menjadi stress relief bagi kebanyakan orang, 
                          hal ini karena dengan melakukan hobi memberi perasaan senang dan bebas yang terbukti secara ilmiah dapat mengurangi stress. Jika kamu merasa belum memiliki 
                          hobi, silahkan klik gambar berikut.</div></div>
                        <a href="/activities"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="{% static 'images/Hobby.png'%}"  /></div></a>
                      </div>               
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #F2954E;">
                      <div class="d-flex bd-highlight">
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Affection</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">        Menghabiskan waktu dengan orang-orang terdekat seperti keluarga dan 
                          teman-teman terdekat juga sangat penting, namun bertukar pikiran bahkan berbagi 
                          perasaan sangat baik untuk kesehatan mental. Jadi jangan lupa untuk mengecek orang-orang terdekat kamu!</div></div>
                          <div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="{% static 'images/affection.png'%}" /></div>
                      </div>
                     
                      
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #FAD161;">
                      <div class="d-flex bd-highlight">
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >New Skill</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">Dengan waktu kosong yang lebih banyak dari biasanya, kamu bisa memanfaatkannya 
                          dengan  menambah skill-skill baru yang berguna dalam pekerjaan maupun kreatifitas. Klik gambar disamping untuk melihat skill-skill apa saja yang bisa kamu pelajari.</div></div>
                          <a href="https://www.skillshare.com"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="{% static 'images/New Skill.png'%}" /></div></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #F2954E;">
                      <div class="d-flex bd-highlight">
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Counseling</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">    Jika sudah melakukan hal-hal yang disarankan, namun masih merasa cemas, gelisah,
                           banyak pikiran, sedih tanpa alasan yang jelas, silahkan melakukan konseling dengan tenaga profesional. Jika kamu ingin membuat janji konseling silahkan klik gambar.</div></div>
                          <a href="https://www.betterhelp.com"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="{% static 'images/counseling.png'%}" /></div></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
        <div class="section" id="contact" style="font-family: poppins;" >
          <div style=" margin-right: 5%;text-align: right;">
         <b style="font-family: poppins; color: #0A5687; font-size: 45px; "> How to Maintain <br>
          My Physical Health</b></div>
          <div
          class="cc-contact-information"
          style="background-color: #0A5687;"
          >
          <div></div>
            <div class="container" >
              <div class="cc-contact" >
                <div class="row"style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color:#F2954E ;">
                      <div class="d-flex bd-highlight">                        
                        <a href="https://www.fitnessblender.com"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="{% static 'images/excercise.png'%}" /></div></a>
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Excercise</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">    Olahraga membantu meningkatkan hormon dopamin, hormon yang memicu perasaan bahagia, 
                          ditambah dengan meningkatnya imun tubuh untuk orang yang aktif berolahraga. Untuk melihat jenis olahraga yang cocok untukmu silahkan klik </div></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #FAD161;">
                      <div class="d-flex bd-highlight">
                        <a href="isiform/"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="{% static  'images/Eating Habbit.png'%}" /></div></a>
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Eating Habbit</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">    Makanan instan tidak baik jika dikonsumsi berlebihan, bahkan bisa menyebabkan penyakit, 
                          sehingga makan makanan rumah yang sehat dan bergizi lebih disarankan. Klik gambar disamping untuk melihat resep-resep makanan dari pengguna website ini</div></div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #F2954E;">
                      <div class="d-flex bd-highlight">
                        <a href="/music"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="{% static 'images/Sleep.png'%}" /></div></a>
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Sleep</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">     Tidur yang cukup sangat penting untuk menjaga kebugaran, karna istirahat merupakan waktu dimana tubuh 
                          melakukan detoks. Untuk meningkatkan kualitas tidur bisa dengan menyetel musik tenang. Cari lagu-lagu yang cocok dengan membuka gambar disamping.</div></div>                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #FAD161;">
                      <div class="d-flex bd-highlight">
                        <a href="https://fyi.idntimes.com/corona"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="{% static 'images/hygiene.png'%}" /></div></a>
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Hygiene</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">    Untuk mencegah covid, menjaga kebersihan tubuh terutama tangan, maupun mengurangi kontak dengan orang atau
                           benda-benda yang dipakai publik, merupakan pilihan terbaik, karena virus bisa menyebar lewat interaksi dengan orang. Klik gambar untuk melihat langkah pencegahan.</div></div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
      <!-- </div>
    </div> -->
    <footer id = "goto2">
      <div class="foot-cont">
          <div class="cont">
          <div class="about-nowhat">
              <div class="about">
                  <div class="about-title">
                      ABOUT NOWHAT
                  </div>
                  <div class="description" style="color: #0A5687;">
                      
                          Dengan banyaknya pilihan dan referensi kegiatan,
                          <b>NoWhat?</b> dibuat dengan harapan dapat membuat
                          masyarakat tetap merasakan kesenangan
                          ditengah pandemi ini.
                      
                  </div>
              </div>
              <img class="logo" src="{% static 'images/LOGO1.png'%}" alt="LOGO"/>
          </div>
          </div>
          <div class="copyrights">
              <div class="text1">
                  © Nowhat? 2020
              </div>
              <img class="small-logo" src="{% static 'images/LOGO1.png'%}" alt="LOGO"/>
              <div class="text1 right">
                  All Rights Reserved.
              </div>
          </div>
      </div>
  </footer>
  {% endblock content %}
  {% block js %} 
  <script src="{% static 'landing_js/base.js' %}"></script>
  <script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/now-ui-kit.js?v=1.1.0' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>    
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'scripts/main.js' %}"></script>
  {% endblock js %}

<!-- </body> -->
<!-- </html> -->
