{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Now What | Health</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="css/aos.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="styles/main.css" rel="stylesheet" />
  </head>
  <body id="top">
      <div class="nav-container">
        <div class="navbar">
            <div class="now-what-title">
                <a href ="#">NoWhat?</a>
            </div>
            <div class="nav-menu">
                <a id="home" class="menu" href="#" onclick="home()" >Home</a>
                <a id="about" class="menu" href="#" onclick="about()" >About</a>
                <div class="dropdown">
                <a id="browse" class="menu dropbtn" href="#">Browse
                    <img style="width: 0.75rem;" src="images/Vector.png"/>
                </a>
                <div class="dropdown-content">
                    <a class="drop" href="#">Music</a>
                    <a class="drop" href="#">Movies</a>
                    <a class="drop" href="#">Event</a>
                    <a class="drop" href="#">Health</a>
                    <a class="drop" href="#">Activites</a>
                </div>
                </div>
            </div>
            <div class="burgerButton">
                <img class= "burgerButton" src="images/burgerButton.png" alt="menu"/>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <img style="margin-left: 25%; margin-top: 25%;" src="images/Health.png">
        </div>
        <div class="col" style="margin-left: 20%;margin-top:15%; ">
          <p style="font-family: poppins; font-size: 40px; color: #0A5687;"><b>HEALTH</b></p>
          <p style="font-family: poppins;">Kesehatan merupakan hal yang sangat berharga, 
            terutama dalam masa pandemi seperti sekarang. 
            Imunitas tubuh merupakan satu-satunya penangkal 
            virus Covid-19 karena memang belum ditemukan obat 
            maupun vaksin untuk mengatasinya. Kesehatan yang 
            dimaksud bukan hanya dalam segi fisik namun juga mental.
             Disini saya akan memberikan cara untuk menjaga kesehatan.</p>
        </div>
      </div>
    </div>

        <div class="section" id="contact"  style="font-family: poppins;">
          <div style="margin-left: 5%;">
          <b style="font-family: poppins; color: #0A5687; font-size: 45px; ">
            How to Maintain <br> My Mental Health</b></div>
            
          
          <div
          class="cc-contact-information"
          style="background-color: #0A5687;"
          >
            <div class="container" >
              <div class="cc-contact" >
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #FAD161;">
                      <div class="d-flex bd-highlight">
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Affection</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">        Menghabiskan waktu dengan orang-orang terdekat seperti keluarga dan 
                          teman-teman terdekat juga sangat penting, namun bertukar pikiran bahkan berbagi 
                          perasaan sangat baik untuk kesehatan mental. Jadi jangan lupa untuk mengecek orang-orang terdekat kamu!</div></div>
                        <a href="#"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="images/Hobby.png"  /></div></a>
                      </div>               
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #F2954E;">
                      <div class="d-flex bd-highlight">
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Affection</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">        Menghabiskan waktu dengan orang-orang terdekat seperti keluarga dan 
                          teman-teman terdekat juga sangat penting, namun bertukar pikiran bahkan berbagi 
                          perasaan sangat baik untuk kesehatan mental. Jadi jangan lupa untuk mengecek orang-orang terdekat kamu!</div></div>
                          <a href="#"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="images/affection.png" /></div></a>
                      </div>
                     
                      
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #FAD161;">
                      <div class="d-flex bd-highlight">
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Affection</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">        Menghabiskan waktu dengan orang-orang terdekat seperti keluarga dan 
                          teman-teman terdekat juga sangat penting, namun bertukar pikiran bahkan berbagi 
                          perasaan sangat baik untuk kesehatan mental. Jadi jangan lupa untuk mengecek orang-orang terdekat kamu!</div></div>
                          <a href="#"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="images/New Skill.png" /></div></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #F2954E;">
                      <div class="d-flex bd-highlight">
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Affection</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">        Menghabiskan waktu dengan orang-orang terdekat seperti keluarga dan 
                          teman-teman terdekat juga sangat penting, namun bertukar pikiran bahkan berbagi 
                          perasaan sangat baik untuk kesehatan mental. Jadi jangan lupa untuk mengecek orang-orang terdekat kamu!</div></div>
                          <a href="#"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="images/counseling.png" /></div></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
        <div class="section" id="contact" style="font-family: poppins;" >
          <div style=" margin-right: 5%;text-align: right;">
         <b style="font-family: poppins; color: #0A5687; font-size: 45px; "> How to Maintain <br>
          My Physical Health</b></div>
          <div
          class="cc-contact-information"
          style="background-color: #0A5687;"
          >
            <div class="container" >
              <div class="cc-contact" >
                <div class="row"style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color:#F2954E ;">
                      <div class="d-flex bd-highlight">                        
                        <a href="#"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="images/excercise.png" /></div></a>
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Affection</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">        Menghabiskan waktu dengan orang-orang terdekat seperti keluarga dan 
                          teman-teman terdekat juga sangat penting, namun bertukar pikiran bahkan berbagi 
                          perasaan sangat baik untuk kesehatan mental. Jadi jangan lupa untuk mengecek orang-orang terdekat kamu!</div></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #FAD161;">
                      <div class="d-flex bd-highlight">
                        <a href="#"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="images/Eating Habbit.png" /></div></a>
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Affection</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">        Menghabiskan waktu dengan orang-orang terdekat seperti keluarga dan 
                          teman-teman terdekat juga sangat penting, namun bertukar pikiran bahkan berbagi 
                          perasaan sangat baik untuk kesehatan mental. Jadi jangan lupa untuk mengecek orang-orang terdekat kamu!</div></div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #F2954E;">
                      <div class="d-flex bd-highlight">
                        <a href="#"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="images/Sleep.png" /></div></a>
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Affection</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">        Menghabiskan waktu dengan orang-orang terdekat seperti keluarga dan 
                          teman-teman terdekat juga sangat penting, namun bertukar pikiran bahkan berbagi 
                          perasaan sangat baik untuk kesehatan mental. Jadi jangan lupa untuk mengecek orang-orang terdekat kamu!</div></div>                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in"style = "background-color: #FAD161;">
                      <div class="d-flex bd-highlight">
                        <a href="#"><div class="p-2 flex-shrink-1 bd-highlight"><img class="samping" src="images/hygiene.png" /></div></a>
                        <div class="p-2 w-100 bd-highlight"> <div class="h4 text-left title" style="margin-top: 5px; margin-left: 1%;" >Affection</div>
                        <div  style="margin-left: 5%;  margin-bottom: 3%;  margin-right: 5%; text-align: justify;">        Menghabiskan waktu dengan orang-orang terdekat seperti keluarga dan 
                          teman-teman terdekat juga sangat penting, namun bertukar pikiran bahkan berbagi 
                          perasaan sangat baik untuk kesehatan mental. Jadi jangan lupa untuk mengecek orang-orang terdekat kamu!</div></div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="foot-cont">
          <div class="cont">
          <div class="about-nowhat">
              <div class="about">
                  <div class="about-title">
                      ABOUT NOWHAT
                  </div>
                  <div class="description" style="color: #0A5687;">
                      
                          Dengan banyaknya pilihan dan referensi kegiatan,
                          <b>NoWhat?</b> dibuat dengan harapan dapat membuat
                          masyarakat tetap merasakan kesenangan
                          ditengah pandemi ini.
                      
                  </div>
              </div>
              <img class="logo" src="images/LOGO1.png" alt="LOGO"/>
          </div>
          </div>
          <div class="copyrights">
              <div class="text1">
                  © Nowhat? 2020
              </div>
              <img class="small-logo" src="images/LOGO1.png" alt="LOGO"/>
              <div class="text1 right">
                  All Rights Reserved.
              </div>
          </div>
      </div>
  </footer>
    <script src="js/core/jquery.3.2.1.min.js"></script>
    <script src="js/core/popper.min.js"></script>
    <script src="js/core/bootstrap.min.js"></script>
    <script src="js/now-ui-kit.js?v=1.1.0"></script>
    <script src="js/aos.js"></script>    
    <script src="js/base.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
