{% extends 'base.html' %}
{% load static %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% endblock script %}

{% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mirsa_css/mirsa.css' %}" type="text/css">
{% endblock css %}

{% block title %} Now What | Activities {% endblock %}

{% block content %}

<section id="judul" class="container d-flex ">
    <div class="header row ">
        <div class="header-image col justify-content-center">
            <img src="{% static 'mirsa_img/children-drawing-playing-carpet.jpg' %}" class="img" alt="activities" style="border-radius: 65px; width: 100%;justify-content: center;"/>
        </div>
        <div class="header-description col" style="padding-left: 20px; padding-top: 20px;">
            <div class="desc-title">ACTIVITIES</div>
            <p style="text-align: justify; justify-content: center;">
                Tahun 2020 ini menjadi kejutan bagi banyak orang. 
                Tahun yang seharusnya diisi dengan berbagai rencana dan banyak aktvitas 
                namun dengan adanya pandemi ini hampir semuanya gagal. Namun ternyata 
                masih terdapat beberapa hal yang bisa kita lakukan di rumah untuk 
                mengganti rencana yang telah kita buat.
            </p>
        </div>
    </div>
</section>

<section id="listActivities" class="container-fluid d-flex flex-wrap align-content-center justify-content-center">
    <div class="judul section-title mx-auto"> 
        LITTLE THINGS YOU CAN DO IN QUARANTINE
    </div>
    <div class="box row justify-content-center align-content-center align-items-center">
        
        <div class="align-items-center justify-content-center" style="margin-left: 20px; margin-right: 20px;">
                <div>
                    <a href="#gardening"  class="kotak justify-content-center">
                        <span class="iconify" data-inline="false" data-icon="cil:plant" style="color: black; font-size: 150px;"></span>
                    </a>
                </div>
                <br>
                <h4>GARDENING</h4>
        </div>
        <div class="align-items-center justify-content-center" style="margin-left: 20px; margin-right: 20px;">
                <div>
                    <a href="#painting"  class="kotak justify-content-center">
                    <span class="iconify" data-inline="false" data-icon="whh:painting" style="color: black; font-size: 150px;"></span>
                    </a>
                </div>
                <br>
            <h4>PAINTING</h4>
        </div>
        <div class="align-items-center justify-content-center" style="margin-left: 20px; margin-right: 20px;">
            <div>
                 <a href="#cooking"  class="kotak justify-content-center">
                    <span class="iconify" data-inline="false" data-icon="mdi:chef-hat" style="color: black; font-size: 150px; justify-content: center;"></span>
                 </a>
            </div>
            <br>
            <h4>COOKING</h4>
        </div>
        <div class="align-items-center justify-content-center" style="margin-left: 20px; margin-right: 20px;">
            <div>
                 <a href="#workout"  class="kotak justify-content-center">
                    <span class="iconify" data-inline="false" data-icon="ic:baseline-sports-soccer" style="color: black; font-size: 150px;"></span>
                 </a>
            </div>
            <br>
            <h4>WORKOUT</h4>
        </div>
    </div>
</section>



<div class="col detail container-fluid d-flex flex-wrap align-content-center justify-content-center">


<section id="gardening" class="container-fluid d-flex flex-wrap align-content-center justify-content-center">
    <div class="section-title mx-auto"> 
        GARDENING
    </div>
    <div class="row align-items-center justify-content-center">
        
        <div class="col-sm-5 mr-2">
            <img class="garden" src="{% static 'mirsa_img/PLANT.jpg' %}" alt="garden" data-aos="flip-left" data-aos-duration="1500">
            <article class="text-justify">
                <b>Berkebun</b> secara teratur terbukti baik untuk diri kita. Mulai dari manfaat terkait kesehatan yang membantu mengurangi risiko serangan jantung hingga membantu kita rileks setelah hari yang melelahkan. Pasti sangat mengasyikkan menjadi bugar dan mempertahankan gaya hidup sehat sambil berkebun.    
            <br>
            </article>
        </div>
        
        <div class="col-sm-5 mr-3" style="padding-left: 30px;">
            <div class="row" >
                <b>STEP TO START GARDENING</b>
                <ol>
                <li>Pilih tanaman apa yang ingin Anda tanam</li>
                <li>Pilih lokasi.</li>
                <li>Siapkan peralatan dasar untuk berkebun.</li>
                <li>Sediakan media tanam.</li>
                <li>Pilih benih tanam yang tepat.</li>
                <li>Tanam dengan hati-hati.</li>
                <li>Rawatlah dengan teratur.</li>
                </ol>
            </div>
            <div class="row-sm-4">
                <b> Untuk info lebih lanjut anda dapat mengunjungi beberapa situs di bawah ini:</b>
                <ul>
                    <li><a href="https://growinginthegarden.com/gardening-for-beginners-how-to-start-a-garden-in-8-simple-steps/" style="color:black;">How to Start a Garden in 8 Simple Steps</a></li>
                    <li><a href="https://mommiesdaily.com/2019/04/18/bercocok-tanam-101-untuk-pemula/" style="color:black;">Bercocok Tanam 101 untuk Pemula</a></li>
                </ul>
            </div>
        </div>
    </div>
</section> 

<section id="painting" class="container-fluid d-flex flex-wrap align-content-center justify-content-center">
    <div class="section-title mx-auto"> 
        PAINTING
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-sm-5 mr-3">
            <div class="row">
                <b>STEP TO START PAINTING</b>
                <br>
                <ol>
                <li>Memahami unsur lukisan</li>
                <li>Memilih media lukis</li>
                <li>Pilih alat melukis yang sesuai</li>
                <li>Membuat gradasi warna</li>
                <li>Menambahkan detail pada lukisan</li>
                </ol>
            </div>
            <div class="row-sm-4">
                <b>Untuk info lebih lanjut anda dapat mengunjungi pranala di bawah ini:</b>
                <ul>
                    <li><a href="https://taupedia.com/bacaan/cara-melukis" style="color:black;">Cara Melukis</a></li>
                </ul>
            </div>
        </div>
           
        <div class="col-sm-5 mr-2">
            <img class="paint" src="{% static 'mirsa_img/PAINT.jpg' %}" alt="paint" data-aos="flip-left" data-aos-duration="1500">
            <article class="text-justify">
                <b>Melukis</b> bisa menjadi salah satu kegiatan untuk meluapkan kreativitas dalam diri. Menyenangkan untuk dilakukan, melukis pun kini jadi tren di kalangan anak muda untuk mengisi waktu luang di tengah pandemi virus Corona.
                <br>
            </article>
        </div>
    </div>
</section> 

<section id="cooking" class="container-fluid d-flex flex-wrap align-content-center justify-content-center">
    <div class="section-title mx-auto"> 
        COOKING
      </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-sm-5 mr-2">
            <img class="cook" src="{% static 'mirsa_img/COOK.jpg' %}" alt="cook" data-aos="flip-left" data-aos-duration="1500">
            <article class="text-justify">
                <b>Memasak</b> merupakan salah satu aktivitas yang dapat kita lakukan di rumah saat pandemi seperti ini. Selain menyenangkan, memasak juga dapat meningkatkan kreativitas
            <br>
            </article>
        </div>
        
        <div class="col-sm-5 mr-3">
            <div class="row">
                <b>BENEFITS OF COOKING AT HOME</b>
                <ol>
                <li>Memasak memberikan kepuasan tersendiri (self-rewarding)</li>
                <li>Memasak bisa menghemat biaya</li>
                <li>Memasak mengurangi kecemasan atas higienitas di masa pandemi</li>
                </ol>
            </div>
            <div class="row-sm-4">
                <b>Untuk melihat referensi berbagai resep masakan, Anda dapat mengunjungi pranala berikut:</b>
                <ul>
                    <li><a href="https://cookpad.com/id" style="color:black;">Resep Cookpad</a></li>
                    <li><a href="https://www.royco.co.id/Ide-Resep.html" style="color:black;">Ide Resep</a></li>
                    <li><a href="https://www.masakapahariini.com/resep-masakan/" style="color:black;">Resep Masakan</a></li>
                </ul>
            </div>
           
        </div>
    </div>
</section>

<section id="workout" class="container-fluid d-flex flex-wrap align-content-center justify-content-center">
    <div class="section-title mx-auto"> 
        WORKOUT
      </div>
    <div class="row align-items-center justify-content-center">
        
        
        <div class="col-sm-5 mr-3">
            <div class="row-sm-3">
                <b>THE 6 BEST AT-HOME WORKOUTS</b>
                <ol>
                <li>Senam</li>
                <li>Zumba</li>
                <li>Jogging</li>
                <li>Sit Up</li>
                <li>Push Up</li>
                <li>Squat</li>
                </ol>
            
            </div>
            <div class="row-sm-4">
                <b>Untuk info lebih lanjut anda dapat mengunjungi pranala di bawah ini:</b>
                <ul >
                    <li><a href="https://www.nerdfitness.com/blog/the-7-best-at-home-workout-routines-the-ultimate-guide-for-training-without-a-gym/" style="color:black;">The Ultimate Guide for Training Without a Gym</a></li>
                </ul>
            </div>
        </div>
           
            <div class="col-sm-5 mr-3">
                <img class="workout" src="{% static 'mirsa_img/WORKOUT.jpg' %}" alt="paint" data-aos="flip-left" data-aos-duration="1500">
                <article class="text-justify">
                    <b>Olahraga</b> merupakan salah satu cara efektif untuk tetap produktif di kala pandemi. Selain menyehatkan, olahraga juga dapat mencegah stress. Meskipun kita tidak bisa berolahraga secara bebas di luar rumah, banyak olahraga yang bisa kita lakukan di rumah.<br>
                </article>
            </div>
    </div>
    <br>
</section>
<section class="container-fluid d-flex flex-wrap align-content-center justify-content-center">
    <button class="button" style="margin-bottom:50px;">
    <a href="{% url 'feature_mirsa:tambah_story' %}" class="text-white">
        Share Your Story!
    </a>
    </button> 
</section>

</div>



{% endblock content %}