{% extends 'base.html' %}{% load static %}

{% block title %} 
Now What | Music
{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'music_css/styledShare.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"/>
{% endblock css %}
{% block content %}
<div class="header">
    <div class="header-title">
        SHARE YOUR MUSIC
    </div>
    <div class="header-content">
        Terima kasih sudah berbagi cerita!<br>
        Semoga hari-hari kita dapat semakin berwarna!
    </div>
</div>
<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="sect-title">
                Song Title: 
            </div>
            <div class="insert">
                {{ music_form.title }}
            </div>
        </div>
        <div class="form-group">
            <div class="sect-title">
                Artist: 
            </div>
            <div class="insert">
                {{ music_form.artist }}
            </div>
        </div>
        <div class="form-group">
            <div class="sect-title">
                Link Reference: 
            </div>
            <div class="insert">
                {{ music_form.link }}
            </div>
        </div>
        <div class="form-group">
            <div class="sect-title">
                Cover Image Link: 
            </div>
            <div class="insert">
                {{ music_form.images }}
            </div>
        </div>
        <div class="submission">        
            <button type="submit">Add</button>
        </div>
    </form>
</div>
{% endblock content %}